<div class="header">
    <img style="width:120px;margin:10px;float: left;" src="https://www.cenocloud.com/static/img/CLogo.png" />
    <ul style="float:left;line-height: 60px;">
        <li>产品与服务
            <div class="un-trangle"></div>
            <div class="top-list-container" style="background: #fff;width:700px;z-index: 9999;position: absolute;top: 100%">
                <div style="float: left;width: 150px;background: #eee;">
                    <ul>
                        <li style="background: #fff;color: #333;"><span>[图标]</span>物联网</li>
                        <li><span>[图标]</span>边缘计算</li>
                        <li><span>[图标]</span>云储存</li>
                        <li><span>[图标]</span>大数据</li>
                        <li><span>[图标]</span>人工智能</li>
                        <li><span>[图标]</span>区块链</li>
                    </ul>
                </div>
                <div style="float:left;width: 350px;color:#000;">
                    <div style="display: inline-block;">热门产品:
                        <a style="display: inline-block;">物联网</a>
                        <a style="display: inline-block;">边缘计算</a>
                        <a style="display: inline-block;">云储存</a>
                        <a style="display: inline-block;">区块链</a>
                    </div>
                    <div>
                        <a>云主机</a>
                        <a>物联网</a>
                        <a>边缘计算</a>
                        <a>云储存</a>
                        <a>大数据</a>
                        <a>人工智能</a>
                        <a>区块链</a>
                    </div>
                </div>
                <div class="top-list-container" style="float: left;width: 200px;background: #eee;color:#000;">
                    here is some descriptions......
                </div>
            </div>
            <div class="trangle">

            </div>
        </li>
        <li>解决方案
            <div class="un-trangle"></div>
            <div class="top-list-container" style="background: #fff;width:700px;z-index: 9999;position: absolute;top: 100%">
                <div style="float: left;width: 150px;background: #eee;">
                    <ul>
                        <li style="background: #fff;color: #333;"><span>[图标]</span>智慧工厂</li>
                        <li><span>[图标]</span>智慧农业</li>
                        <li><span>[图标]</span>指挥交通</li>
                        <li><span>[图标]</span>网联车</li>
                    </ul>
                </div>
                <div style="float:left;width: 350px;color:#000;">
                    <div>
                        <a>云主机</a>
                        <a>物联网</a>
                        <a>边缘计算</a>
                        <a>云储存</a>
                        <a>大数据</a>
                        <a>人工智能</a>
                        <a>区块链</a>
                    </div>
                </div>
                <div class="top-list-container" style="float: left;width: 200px;background: #eee;color:#000;">
                    here is some descriptions......
                </div>
            </div>
            <div class="trangle">

            </div>
        </li>
        <li>合作与生态
            <div class="un-trangle"></div>
            <div class="trangle">

            </div>
        </li>
        <li>帮助中心
            <div class="trangle">

            </div>
        </li>
        <li>更多
            <div class="un-trangle"></div>
            <div class="trangle">

            </div>
        </li>
    </ul>
    <ul style="float:right;padding-right: 10px;line-height: 60px;">
        <li>
            控制台
        </li>
        <li>
            <a target="blank" href="https://account.cenocloud.com">登录 注册</a>
        </li>

    </ul>

</div>

<div class="header_mask" style="background-image: url('assets/img/banner_mask1.png')"></div>
<div class="header_mask" style="background-image: url('assets/img/banner_mask2.png')"></div>