<div class="forum-right">
	<app-forum-right-function></app-forum-right-function>
	<div class="row index-right-bottom">
		<div class="col-sm-12">
			<h3>快速入口</h3>
			<a>IOT</a>
			<a>开发者控制台</a>
			<a>SDK</a>
			<a href="#">Restful API</a>
		</div>
		<div class="col-sm-12">
			<h3>活动消息</h3>
		</div>
		<div class="col-sm-12">
			<h3>社区公告</h3>
			<ul>
				<li>Coding life，CenoCloud社区上线</li>
				<li>那些年，我们一起出书的日子！</li>
				<li>CenoCloud开发者社区合作指南</li>
			</ul>
		</div>
		<div class="col-sm-12">
			<h3>合作伙伴</h3>
			<a>CenoCloud+</a>
			<a>MySql官方社区</a>
		</div>

	</div>
</div>