<div class="row">
	<div class="col-sm-4 right_item">
		<img class="col-sm-12" src="assets/img/tick-1.svg">
		<p>打卡</p>
	</div>
	<div class="col-sm-4 right_item" (click)="skip('/forum/new')">
		<img class="col-sm-12" src="assets/img/pen-1.svg">
		<p> 写文章</p>
	</div>
	<div class="col-sm-4 right_item" (click)="skip('/forum/question')">
		<img class="col-sm-12" src="assets/img/why-1.svg">
		<p>提问题</p>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 right_item">
		<img class="col-sm-12" src="assets/img/paihang.svg">
		<p>文章排行</p>
	</div>
	<div class="col-sm-4 right_item">
		<img class="col-sm-12" src="assets/img/jiangpai.svg">
		<p> 博主排行</p>
	</div>
	<div class="col-sm-4 right_item">
		<img class="col-sm-12" src="assets/img/me.svg">
		<p>个人中心</p>
	</div>
</div>