<footer class="footer text-center" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 icons">
				<a href="">
					<i class="fa fa-tencent-weibo white"></i>
				</a>
				<a href="">
					<i class="fa fa-weibo white"></i>
				</a>
				<a href="">
					<i class="fa fa-weixin white"></i>
				</a>
				<a href="">
					<i class="fa fa-skype white"></i>
				</a>

				<a href="">
					<i class="fa fa-twitter white"></i>
				</a>
				<a href="">
					<i class="fa fa-facebook white"></i>
				</a>
				<a href="">
					<i class="fa fa-linkedin white"></i>
				</a>
			</div>
			<div class="col-sm-12">
				<p style="color:#eee;font-weight:lighter;">COPYRIGHT &copy; 2017-2025 CenoCloud+
					<a style="display:none;color:#ddd;font-weight:lighter;">京ICP备17044594号-1</a>
				</p>
			</div>
		</div>
	</div>
</footer>