<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.nero.facade_forum.dao.AuthorDao">
    <update id="initAuthor">
        INSERT into author
        (nickname,sid) VALUES ('${nickname}',${sid});
    </update>
    <update id="increaseFavCount">

    </update>
    <update id="decreaseFavCount">

    </update>
    <select id="findAuthorById" resultType="com.iot.nero.parent_facade.entity.Author">
        SELECT
        id             AS authorId,
        sid            AS ssoId,
        nickname       AS nickName,
        article_count  AS articleCount,
        question_count AS questionCount,
        answer_count   AS answerCount,
        follow_count   AS followCount,
        start_count    AS starCount,
        experience     AS experience,
        score          AS score,
        del            AS del,
        modify_time    AS modifyTime
        FROM author
        WHERE id=${aid}
        AND del = 0;
    </select>
    <select id="descAuthorByArticleCount" resultType="com.iot.nero.parent_facade.entity.Author">
        SELECT
        id             AS authorId,
        sid            AS ssoId,
        nickname       AS nickName,
        article_count  AS articleCount,
        question_count AS questionCount,
        answer_count   AS answerCount,
        follow_count   AS followCount,
        start_count    AS starCount,
        experience     AS experience,
        score          AS score,
        del            AS del,
        modify_time    AS modifyTime
        FROM author
        WHERE del = 0
        ORDER  BY article_count DESC
        limit ${page},${num}
    </select>
    <select id="findAuthorByName" resultType="com.iot.nero.parent_facade.entity.Author">
        SELECT
        id             AS authorId,
        sid            AS ssoId,
        nickname       AS nickName,
        article_count  AS articleCount,
        question_count AS questionCount,
        answer_count   AS answerCount,
        follow_count   AS followCount,
        start_count    AS starCount,
        experience     AS experience,
        score          AS score,
        del            AS del,
        modify_time    AS modifyTime
        FROM author
        where nickname='${nickname}'
        AND del = 0;
    </select>
    <select id="findAuthorByCloudId" resultType="com.iot.nero.parent_facade.entity.Author">
        SELECT
        id             AS authorId,
        sid            AS ssoId,
        nickname       AS nickName,
        article_count  AS articleCount,
        question_count AS questionCount,
        answer_count   AS answerCount,
        follow_count   AS followCount,
        start_count    AS starCount,
        experience     AS experience,
        score          AS score,
        del            AS del,
        modify_time    AS modifyTime
        FROM author
        WHERE sid=${sid}
        AND del = 0;
    </select>
</mapper>