<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iot.nero.facade_alarm.dao.ExpressDao">


    <select id="getExpressById" resultType="com.iot.nero.parent_alarm.entity.Express">
        SELECT
        id as Id,
        opeator as Operator,
        create_time as CreateTime
        from express
        where id  = ${id};

    </select>
    <select id="getAllExpress" resultType="com.iot.nero.parent_alarm.entity.Express">
         SELECT
        id as Id,
        opeator as Operator,
        create_time as CreateTime
        from express;
    </select>

    <select id="getExpressByStr" resultType="com.iot.nero.parent_alarm.entity.Express">
        SELECT
        id as Id,
        opeator as Operator,
        create_time as CreateTime
        from express
        where opeator  = '${express}';

    </select>
</mapper>