<div id="top_cover">
	<div id="top_top">
		<div class="logo_div">
			<img src="assets/img/CenoCloudLogo.png" alt="" class="logo">
		</div>
		<div class=" smallHide hidden-xs" style="float: right;">
			<span class="fa fa-search"></span>&nbsp;&nbsp;&nbsp;
			<a id="center" href="./forum/index.html">社区首页</a>
			<a id="center" href="https://www.cenocloud.com/mobile.html">移动客户端</a>
			<a id="center" href="https://www.cenocloud.com/iot.html">控制台</a>
			<div *ngIf="email!=''" class="avatar" style="display: inline-block">
				<a id="register" target="_blank" href="https://www.cenocloud.com/register.html">注册</a>
				<a id="login" target="_blank" href="https://www.cenocloud.com/login.html">登录</a>
			</div>
			<a href="https://www.cenocloud.com/center.html">
				<div *ngIf="email==''" class="avatar" style="display: inline-block">
					<img src="assets/img/logo.png">
					<div>{{email}}</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="clearfix"></div>