.new-title{
    line-height: 60px;
    background-color: #fff;
    padding: 0;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.new-title .active{
    color: #36f;
}

.new-title .underline{
    position: absolute;
    top: 100%;
    border-bottom: 1px solid #36f;
    transition: all .5s ease;
}

.the_left{
    overflow: hidden;
    width: 66.6%;
    float: left;
}

.article_container{
    background-color: #fff;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article_container input {
    vertical-align: top;
}

.new-title2 label{
    line-height: 38px;
    text-align: left;
}

.new-title2 input{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
}

.editor{
    margin-top: 10px;
}

.new-title2 label[for='verify-input']{
    width: 75px;
    padding: 0 15px;
    float: left;
}

.isquestion{
    width: 200%;
    left: 0%;
    position: relative;
    transition: left .5s ease;
}

.question,.questionlist{
    float: left;
    width: 50%;
    padding: 0 15px;
}

.question,.questionlist>div{
    cursor: pointer;
}

.type input[type=radio],.type label{
    display: inline-block;
    margin-top: 8px;
}

.type input[type=radio]{
    vertical-align: -3px;
    zoom: 120%;
}

@media screen and (max-width:768px){
    .the_left{
        width: 100%;
    }

    .questionlist .list-detail{
        margin-top: 30px;
    }
}