.new-title{
    line-height: 60px;
    background-color: #fff;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

.new-title .active{
    color: #36f;
    border-bottom: 1px solid #36f;
}

.article_container{
    background-color: #fff;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.article_container label {
    vertical-align: 2px;
}

.new-title2 label{
    line-height: 38px;
    text-align: left;
}

.new-title2 input{
    width: 100%;
    height: 38px;
    box-sizing: border-box;
}

.input{
    height: 38px;
    margin: 10px 15px;
    box-sizing: border-box;
}

.editor{
    margin-top: 10px;
}

.new-title2 label[for='verify-input']{
    width: 75px;
    padding: 0 15px;
    float: left;
}

.type input[type=radio]{
    float: left;
    margin-top: 8px;
    zoom: 120%;
}

.type label{
    display: block;
    margin-left: 12px;
    margin-top: 9px;
}
